{
    "presets": [
        "env"
    ],
    "plugins": [
        [
            "transform-decorators-legacy",
            {
                "loose": true
            }
        ],
        [
            "import",
            {
                "libraryName": "antd",
                "libraryDirectory": "lib",
                "style": "css"
            }
        ],
        "transform-class-properties",
        "transform-object-rest-spread",
        "syntax-dynamic-import"
    ]
}