{
    "presets": [
        "env"
    ],
    "plugins": [
        [
            "import",
            {
                "libraryName": "antd",
                "libraryDirectory": "es",
                "style": "css"
            }
        ],
        "transform-class-properties",
        "transform-object-rest-spread"
    ]
}